.container{
  display: flex;
  flex-direction: column;
  align-items: center; 
  border: 1px solid hsla(192, 100%, 88%, 0.806);
  color: hsla(192, 100%, 88%, 0.806);
  background-color: transparent;  
  transition: background-color .3s ease-in-out, color .3s ease-in-out;  
}
.progress{
  margin-top: 10px;
  width: 90%;
  height: 12px;
  border-radius: 30px;
  border: 1px solid hsla(192, 100%, 88%, 0.806);
}
.width{
  height: 10px;
  border-radius: 30px;
  background-color: hsla(192, 100%, 88%, 0.806);
}
.quiz{
  margin: 15px auto;
  filter: drop-shadow(46px 36px 24px #4090b5) drop-shadow(-55px -40px 25px #9e30a9);
  animation: blinkShadowsFilter 8s ease-in infinite;
}
.item{
  text-align: center;
}
.answer{    
  list-style: none; 
  height: 20px;  
  margin: 15px auto;
  cursor: pointer;    
}
.answer:hover{
  transition: all 1s ease-in-out;
  background: linear-gradient(90deg, transparent 0%, rgba(102, 224, 255, 0.2) 27%, rgba(102, 224, 255, 0.2) 63%, transparent 100%);
}
.result{
  display: flex;
  flex-direction: column;
}
.resultTitle{
  margin: 15px auto;
}
.againBtn{
  text-align: center;
}
.again{
  margin: 15px auto;
  width: 200px;
  border: none;
  color: hsla(192, 100%, 88%, 0.806);  
  background-color: transparent;
  cursor: pointer;
}
.again:hover {
  transition: all 1s ease-in-out;
  background: linear-gradient(90deg, transparent 0%, rgba(102, 224, 255, 0.2) 27%, rgba(102, 224, 255, 0.2) 63%, transparent 100%);
}


@keyframes blinkShadowsFilter {
  0% {
    filter: drop-shadow(46px 36px 28px rgba(64, 144, 181, 0.3411764706)) drop-shadow(-55px -40px 28px #9e30a9);
  }

  25% {
    filter: drop-shadow(46px -36px 24px rgba(64, 144, 181, 0.8980392157)) drop-shadow(-55px 40px 24px #9e30a9);
  }

  50% {
    filter: drop-shadow(46px 36px 30px rgba(64, 144, 181, 0.8980392157)) drop-shadow(-55px 40px 30px rgba(159, 48, 169, 0.2941176471));
  }

  75% {
    filter: drop-shadow(20px -18px 25px rgba(64, 144, 181, 0.8980392157)) drop-shadow(-20px 20px 25px rgba(159, 48, 169, 0.2941176471));
  }

  to {
    filter: drop-shadow(46px 36px 28px rgba(64, 144, 181, 0.3411764706)) drop-shadow(-55px -40px 28px #9e30a9);
  }
}