*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: space-between;
  height: 100vh;
  background-color: #212121;
  color: #222;
  font-weight: 300;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1280px;
  margin: 50px auto;
}