.container{  
  display: flex;
  align-items: center;
  justify-content: space-around;  
  width: 1200px;
  height: 50px;
  
}
.navigation{
  display: flex;
  gap: 15px;  
}

.link{  
  text-decoration: none;
  color: hsla(192, 100%, 88%, 0.806);
}
.link:hover{
  transition: all 1s ease-in-out;
  background: linear-gradient(90deg, transparent 0%, rgba(102, 224, 255, 0.2) 27%, rgba(102, 224, 255, 0.2) 63%, transparent 100%);
}

